<div class="text-center"
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-4 col-xs-push-4 post">
    <h1>All Users</h1>

  <div class="row list_wrapper">
    <% @users.each do |user| %>
      <div class="row list-head">

        <div class="col-xs-10 user-info">
          <h3>
            <strong> <%= link_to "#{user.name}", user_path(user.id) %> </strong>
          </h3>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 link">
        <%= link_to posts_path %><h3>Return to Home</h3>
      </div>
    </div>

  </div>
 </div>
</div>
